@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@400;700;900&display=swap');


:root{
    /* Primary Colors */
    --pale-blue: hsl(225, 100%, 94%)
    --bright-blue: hsl(245, 75%, 52%)

    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%)
    --desaturated-blue: hsl(224, 23%, 55%)
    --dark-blue: hsl(223, 47%, 23%)

}


/* html{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;

} */

body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}