@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@400;700;900&display=swap');


:root{
    /* Primary Colors */
    --pale-blue: hsl(225, 100%, 94%)
    --bright-blue: hsl(245, 75%, 52%)

    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%)
    --desaturated-blue: hsl(224, 23%, 55%)
    --dark-blue: hsl(223, 47%, 23%)

}


/* html{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;

} */

body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-container{
    margin: 0 auto;
    max-width: 375px;
    background-color: #FFFFFF;

    border-radius: 20px;
}

.svg-container img{
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.details-container{
    padding: 0 2rem;
    text-align: center;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-container{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.payment-btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 1rem;
}

.cancel-btn{
    border: none;
    background-color: inherit;
}

button{
    cursor: pointer;
}